Flask
Flask-Login
Flask-SQLAlchemy
Flask-Cors
Werkzeug
python-dotenv
certifi
requests
beautifulsoup4
lxml
markdownify

zhipuai

rank-bm25
faiss-cpu

numpy
scipy
scikit-learn

jieba
sentence-transformers

gunicorn